<div class="container-fluid">
  <div class="cad">
    <h3>Pedidos</h3>
    <a class="btn btn-primary" role="button" routerLink="/orderedit" routerLinkActive="active">Cadastrar</a>
  </div>
  <div  *ngIf="orders.length > 0">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Destinatário</th>
          <th>Produto</th>
          <th></th>
          <th>Entregador</th>
          <th>Cidade</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let order of orders' (click)="orderDetail(order)">
          <td>
            <span>#{{ order.id }}</span>
          </td>
          <td>
            <span>{{ order.recipient.nome }}</span>
          </td>
          <td>
            <span>{{ order.product }}</span>
          </td>
          <td>
            <span><img alt="Entregador" src='https://api.adorable.io/avatars/149/{{ order.id }}.png'  /></span>
          </td>
          <td>
            <span>
              {{ order.deliveryMan.name }}
            </span>
          </td>
          <td>
            <span>{{ order.recipient.cidade }}</span>
          </td>
          <td>
            <span>{{ order.recipient.estado }}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<router-outlet></router-outlet>
